<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();
?>
<?php if ($_additional = $block->getAdditionalData()): ?>
    <div class="additional-attributes-wrapper table-wrapper">
        <table class="data table additional-attributes" id="product-attribute-specs-table">
            <tbody>

            <?php
            /*var_dump($_additional["tyre_width"]["value"]);
            var_dump($_additional["tyre_height"]["value"]);
            var_dump($_additional["tyre_rim_size"]["value"]);
            exit;*/
                ?>
            <tr>
                <td class="col label" scope="row"><?= __("Size") ?></td>
                <td class="col data"><b><?= $_additional["tyre_width"]["value"]; ?>/<?= $_additional["tyre_height"]["value"]; ?>&nbsp;<?= $_additional["tyre_rim_size"]["value"]; ?>&nbsp;<?= $_additional["tyre_load"]["value"].$_additional["tyre_speed"]["value"]; ?></b></td>
            </tr>

            <tr>
                <td class="col label" scope="row"><?= __("Sidewalk Style") ?></td>
                <td class="col data"><b><?= $_additional["sidewall"]["value"]; ?></b></td>
            </tr>
            <tr>
                <td class="col label" scope="row"><?= __("Load/Speed") ?></td>
                <td class="col data"><b><?= $_additional["tyre_load"]["value"]." ".$_additional["tyre_speed"]["value"]; ?></b></td>
            </tr>
            <tr>
                <td class="col label" scope="row"><?= __("Year of Manufacture") ?></td>
                <td class="col data"><b><?= $_additional["year_manufacture"]["value"]; ?></b></td>
            </tr>
            <tr>
                <td class="col label" scope="row"><?= __("Manufacture Country") ?></td>
                <td class="col data"><b><?= $_additional["country_of_manufacture"]["value"]; ?></b></td>
            </tr>
            <tr>
                <td class="col label" scope="row"><?= __("Vehicle Type") ?></td>
                <td class="col data"><b><?= $_additional["tyre_type"]["value"]; ?></b></td>
            </tr>

            </tbody>
        </table>
    </div>
<?php endif;?>
