.main-panel-top{
  display:none;
}
.footer-ribbon {
  display: none;
}
.page-header {
  .header.content {
    .logo{
      margin: 0;
    }
  }
}

a.action.multicheckout {
  display: none;
}
a#mode-list {
  display: none;
}
.qty-changer {
  display: none!important;
}