<div class="fieldset">
	<div data-bind="visible: selectedMethod() == 'cistorepickup_cistorepickup'"  class="storepickup-shipping-method" id="storepickup-shipping-method">
		<select data-bind="attr: {
			name: 'store_pickup',
		},options: storepickConfig,
							optionsCaption: 'Choose one...',
							optionsText: 'label',
							optionsValue: 'value',
							valueAllowUnset: true" >
		</select>
		<div class="storepickup-shipping-data" id="storepickup-shipping-data">
			<input type="hidden" value="0" class="storepickup_checked" name="storepickup_shipping_checked" id="storepickup_checked">
			
			<a class="action open-modal-form" href="javascript:void(0)" id="click-me"  title="Modal">View Stores</a>
			
			<div id="ci-storepickup-popup-modal" style="display:none;">
					<div id="map"></div>
			</div>
			
			<br/>
			<div class="store_info">
				<ul data-bind="foreach: storepickInfo">
					<li data-bind="text: label,css:value" style="display:none"></li>
				</ul>
			</div>
			<br/>
		</div>		
		<input data-bind="datetimepicker: true" type="text" class="input-text required-entry" id="calendar_inputField" name="calendar_inputField" aria-required="true" placeholder="Select Data And Time">
		
	</div> 
</div>
<div style="clear: both;"></div>
