/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category  BSS
 * @package   Bss_OneStepCheckout
 * @author    Extension Team
 * @copyright Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license   http://bsscommerce.com/Bss-Commerce-License.txt
 */

@bss_layout_1_column: 100%;
@bss_layout_2_columns: 48%;
@bss_layout_3_columns: 33.33%;
@bss_column_box_shadow_hover: 0 0 20px 5px #b0b2ab;
@bss_radius_radio: 50%;
@bss_bgr_default: #1979c3;
@bss_color_default: #ffffff;

//  @screen__xxs: 320px;
//  @screen__xs: 480px;
//  @screen__s: 640px;
//  @screen__m: 768px;
//  @screen__l: 1024px;
//  @screen__xl: 1440px;

.wrap () {
    box-sizing: border-box;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all .2s ease-in-out;
    padding: 15px;
    width: @bss_layout_2_columns;
}

.bss-click-wave-0 () {
    width: 15px;
    height: 15px;
    opacity: 0.35;
    position: relative;
}

.bss-click-wave-100 () {
    width: 250px;
    height: 250px;
    margin-left: -120px;
    margin-top: -120px;
    opacity: 0.0;
}
.bss-title-before () {
    background-color: @bss_bgr_default;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: @bss_radius_radio;
    vertical-align: middle;
    text-align: center;
    line-height: 35px;
    color: @bss_color_default;
    font-size: 15px;
    font-weight: 700;
    margin-right: 10px;
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    @-webkit-keyframes bss-click-wave {
        0% {.bss-click-wave-0}
        100% {.bss-click-wave-100}
    }
    @-moz-keyframes bss-click-wave {
        0% {.bss-click-wave-0}
        100% {.bss-click-wave-100}
    }
    @-o-keyframes bss-click-wave {
        0% {.bss-click-wave-0}
        100% {.bss-click-wave-100}
    }
    @keyframes bss-click-wave {
        0% {.bss-click-wave-0}
        100% {.bss-click-wave-100}
    }

    .bss-onestepcheckout {
        input[type="radio"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            border-radius: @bss_radius_radio;
            width: 15px;
            height: 15px;
            background: #cbd1d8;
            cursor: pointer;
            &:checked {
                background: @bss_bgr_default;
                &::after {
                    -webkit-animation: bss-click-wave 0.65s;
                    -moz-animation: bss-click-wave 0.65s;
                    animation: bss-click-wave 0.65s;
                    background: @bss_bgr_default;
                    content: '';
                    display: block;
                    position: relative;
                    z-index: 100;
                }
            }
            &::after {
                border-radius: @bss_radius_radio;
            }
        }
        .step-title {
            &:before {
                .bss-title-before;
            }
        }

        .opc-wrapper {
            width: @bss_layout_1_column;
            padding-right: 0;
            #shipping {
                float: left;
                .wrap;
                .step-title {
                    &::before {
                        content: '1';
                    }
                }
                #checkout-step-shipping {
                    .shipping-address-item {
                        width: @bss_layout_1_column;
                        &::before {
                            width: 0;
                        }
                        &:hover {
                            border-color: #ff5501;
                            background-color: #f5f5f5;
                        }
                    }
                    .not-selected-item {
                        cursor: pointer;
                    }
                }
                &:hover {
                    -moz-box-shadow: @bss_column_box_shadow_hover;
                    -webkit-box-shadow: @bss_column_box_shadow_hover;
                    box-shadow: @bss_column_box_shadow_hover;
                }
                .label {
                    margin: 0 0 8px;
                    display: inline-block;
                }
            }
            #opc-shipping_method {
                float: right;
                margin-left: 4%;
                .wrap;
                &:hover{
                    -moz-box-shadow: @bss_column_box_shadow_hover;
                    -webkit-box-shadow: @bss_column_box_shadow_hover;
                    box-shadow: @bss_column_box_shadow_hover;
                }
                div[name$=".bss_osc_delivery_date"] {
                    margin: 28px 0 20px;
                    .label {
                        margin: 0 0 8px;
                        display: inline-block;
                    }
                }
                div[name$=".bss_osc_delivery_comment"] {
                    margin-bottom: 20px;
                    .label {
                        margin: 0 0 8px;
                        display: inline-block;
                    }
                }
                .step-title {
                    &:before {
                        content: '2';
                    }
                }
                #checkout-step-shipping_method {
                    margin-bottom: 0;
                    #checkout-shipping-method-load {
                        .table-checkout-shipping-method {
                            width: @bss_layout_1_column;
                            min-width: 290px;
                        }
                    }
                    #shipping-method-buttons-container {
                        display: none;
                    }
                }
            }
            #payment {
                float: right;
                margin-top: 25px;
                .wrap;
                &:hover{
                    -moz-box-shadow: @bss_column_box_shadow_hover;
                    -webkit-box-shadow: @bss_column_box_shadow_hover;
                    box-shadow: @bss_column_box_shadow_hover;
                }
                input[type="radio"] {
                    position: relative;
                    top: 3px;
                }
                #checkout-payment-method-load {
                    .payment-methods {
                        margin: auto;
                        .step-title {
                            border-bottom: 1px solid #cccccc;
                            &:before {
                                content: '3';
                            }
                        }
                        .checkout-billing-address {
                            margin-top: 30px;
                            .actions-toolbar {
                                margin-top: 30px;
                            }
                        }
                        .payment-method {
                            .payment-method-title {
                                padding: 15px 0;
                            }
                            .payment-method-content {
                                padding: 0;
                                .actions-toolbar {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            .payment-virtual {
                margin-top: 0 !important;
                width: 100% !important;
                #checkout-payment-method-load {
                    .payment-methods {
                        .step-title {
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        #opc-sidebar {
            float: right;
            width: @bss_layout_1_column;
            margin-top: 30px;
            .label {
                margin: 0 0 8px;
                display: inline-block;
            }
            > .field {
                margin: 10px 0;
            }
            .opc-block-summary {
                > .title {
                    &:before {
                        content: '\2713';
                        .bss-title-before;
                    }
                }
            }
            .discount-code {
                margin: 15px 0;
                #discount-form {
                    width: 60%;
                    margin: auto;
                    .payment-option-inner {
                        width: 58%;
                        display: inline-block;
                    }
                    .actions-toolbar {
                        float: right;
                        .action {
                            margin: 0;
                        }
                    }
                }
            }
            .actions-toolbar {
                > .primary {
                    width: @bss_layout_1_column;
                    > .btn-placeorder {
                        line-height: 2.2rem;
                        padding: 14px 17px;
                        font-size: 1.8rem;
                        margin: 0;
                        width: @bss_layout_1_column;
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .bss-onestepcheckout {
        .opc-wrapper {
            #shipping {
                width: @bss_layout_1_column;
            }
            #opc-shipping_method {
                width: @bss_layout_1_column;
                margin-top: 25px;
            }
            #payment {
                width: @bss_layout_1_column;
                #checkout-payment-method-load {
                    .step-title {
                        border: 0;
                    }
                    .checkout-billing-address {
                        .billing-address-same-as-shipping-block {
                            margin: 0;
                        }
                    }
                }
            }
        }
        #opc-sidebar {
            .discount-code {
                #discount-form {
                    width: @bss_layout_1_column;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .bss-onestepcheckout {
        .opc-wrapper {
            width: 66.66%;
            padding-right: 30px;
        }
        #opc-sidebar {
            width: @bss_layout_3_columns;
            margin-top: 0;
            .discount-code {
                #discount-form {
                    width: @bss_layout_1_column;
                }
            }
        }
    }
}
