<?php
/**
 * @var $block \Block\Levosoft\CustomSearch\Block\GetCustomAttributeOptions
 */

$options = $block->getCustomOption('tyre_rim_size');
?>

<select class="form-control col-lg-3 col-md-3" id="<?= $block->getData('id'); ?>" name="<?= $block->getData('id'); ?>[]">
    <option value="">Rim Size</option>
    <?php
    foreach($options as $key => $value){ ?>
        <option value="<?= $value;?>"><?= $key;?></option>
    <?php  }
    ?>
</select>
