<?php
/**
 * @var $block \Block\Levosoft\CustomSearch\Block\GetCustomAttributeOptions
 */

$options = $block->getCustomOption('tyre_width');
?>

    <select class="form-control col-lg-3 col-md-3" id="<?= $block->getData('id'); ?>" name="<?= $block->getData('id'); ?>[]">
        <option value="">Tyre Width</option>
        <?php
            foreach($options as $key => $value){ ?>
                <option value="<?= $value;?>"><?= $key;?></option>
        <?php  }
        ?>
    </select>
